* {
  box-sizing: border-box;
  --main-background: white;
  --strong-text: black;
  --weaker-text: #5e5e5e;
  --accent: rgb(79, 199, 255);
}

/* * {
  box-sizing: border-box;
  --main-background: rgb(17, 17, 17);
  --strong-text: rgb(255, 255, 255);
  --weaker-text: #b8b8b8;
  --accent: rgb(79, 199, 255);
} */

body {
  color: var(--weaker-text);
  background-color: var(--main-background);
  font-family: 'Poppins', sans-serif;
  padding: 4rem 2rem 2rem 2rem;
}

h1 {
  color: var(--strong-text);
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  color: var(--strong-text);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.6rem 0 1.2rem;
  line-height: 1.3;
}

p {
  line-height: 1.4;
  font-weight: 500;
  font-size: 0.95rem;
  padding-bottom: 0.7rem;
}

article {
  padding-bottom: 3rem;
}

img {
  width: 100%;
  height: auto;
}

nav {
  padding: 1.5rem 0 2.5rem;
}

a {
  color: unset;
  text-decoration: none;
}

.nav-list {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-list li {
  display: inline;
  padding-right: 2rem;
  line-height: 1.5;
}

.nav-list a {
  transition-duration: 0.1s;
}

.nav-list a:hover {
  color: var(--accent);
}

.article-links {
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.3;
}

.article-links li {
  display: inline-block;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.article-links li a {
  background: linear-gradient(to bottom, var(--accent) 0%, var(--accent) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 2px;
  text-decoration: none;
  transition: background-size 0.2s;
}

.article-links li a:hover {
  background-size: 4px 50px;
  color: black;
}

@media only screen and (min-width: 700px) {
  body {
    padding: 18vh 10vw;
  }

  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  h1 {
    font-size: 4rem;
  }
}

/* .animating-text:hover {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  transition-duration: 300ms;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
} */
