* {
  box-sizing: border-box;
  --main-background: white;
  --strong-text: black;
  --weaker-text: #5e5e5e;
  /* --accent: rgb(79, 199, 255); */
  --accent: rgb(40, 129, 170);
}

body {
  color: var(--weaker-text);
  background-color: var(--main-background);
  font-family: 'Poppins', sans-serif;
  padding: 4rem 2rem 2rem 2rem;
}

h1 {
  color: var(--strong-text);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  line-height: 1.2;
  color: var(--strong-text);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.6rem 0 1.2rem;
  line-height: 1.3;
}

p {
  line-height: 1.4;
  font-weight: 500;
  font-size: 0.95rem;
  padding-bottom: 0.7rem;
}

.letter {
  display: inline-block;
}

article {
  padding-bottom: 3rem;
}

img {
  width: 100%;
  height: auto;
}

nav {
  padding: 1.5rem 0 2.5rem;
}

a {
  color: unset;
  text-decoration: none;
  color: var(--accent);
}

nav a {
  color: var(--weaker-text);
}

.nav-list {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-list li {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  line-height: 1.7;
}

.nav-list a {
  transition-duration: 0.1s;
}

.nav-list a:hover {
  color: var(--strong-text);
}

.article-links {
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.3;
}

.article-links li {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

a:hover {
  color: var(--strong-text);
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0.2rem;
  left: 0;
  background-color: var(--accent);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.nav-list a:after {
  bottom: -0.1rem;
}
a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

@media only screen and (min-width: 700px) {
  body {
    padding: 18vh 10vw;
  }

  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  h1 {
    font-size: 4rem;
  }
}
